anndata>=0.6.22.post1
h5py>=2.10.0
Jinja2>2.10.1
loompy>=3.0.6
nbconvert>=5.6.0
nbformat>=4.4.0
ngs-tools>=1.5.14
numpy>=1.17.2
pandas>=1.0.0
plotly>=4.5.0
requests>=2.22.0
scanpy>=1.4.4.post1
scikit-learn>=0.21.3
typing-extensions>=3.7.4
