name: Release

on:
  release:
    types: [published]

jobs:
  release-to-pypi:
    name: Release to Pypi
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout branch
        uses: actions/checkout@master
      - name: Setup python
        uses: actions/setup-python@v1
        with:
          python-version: '3.7'
          architecture: x64
      - name: Install dependencies
        run: pip install -r dev-requirements.txt
      - name: Build
        run: python setup.py sdist bdist_wheel
      - name: Upload
        run: twine upload dist/*
        env:
          TWINE_REPOSITORY_URL: ${{ secrets.PYPI_URL }}
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
